.textBox {
  border: 1px solid #ffffff6d;
  border-radius: 8px;
  vertical-align: middle;
  white-space: normal;
  background: #1C1E20;
  transition: all 0.2s ease;
  color: #CACACA;
  height: 60px;
  min-width: 120px;
  box-sizing: border-box;
  padding-inline: 1rem;
  font-size: 1.25rem;
}

.textBox:focus {
  outline: 0;
}

/* Medium screens (tablets) */
@media (max-width: 1024px) {
  .textBox {
    height: 50px;
    font-size: 1rem;
  }
}

/* Small screens (phones) */
@media (max-width: 768px) {
  .textBox {
    font-size: 0.75rem;
  }
}

/* Extra small screens (small phones) */
@media (max-width: 480px) {
  .textBox {
    font-size: 0.75rem;
  }
}